<!--
You are free to copy and use this sample in accordance with the terms of the
Apache license (http://www.apache.org/licenses/LICENSE-2.0.html)
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>YouTube Player API Sample</title>
    <style type="text/css">

    </style>
    <link rel="stylesheet" href="/css/playvideo.css" type="text/css" media="screen" />

    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("swfobject", "2.1");
    </script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
	<script src="/scripts/jquery.mousestop.js" type="text/javascript"></script>
    <script type="text/javascript">
      var USE_LOCALLY = false;
      var DOMAIN_HOSTNAME = "http://www.nostop.tv"
      if (USE_LOCALLY) {
        DOMAIN_HOSTNAME = "http://localhost:8080";
      }
      var video_ids_viewed = new Object();
      var video_playlist_size = 0;
      var last_video_id_in_playlist = "";
      var current_video_id = "";
      index = 0;
      var search_term_array = new Array();
      var YOUTUBE_VIDEO_URL_PREFIX = "https://www.youtube.com/watch?feature=player_embedded&v=";

      /*
       * Chromeless player has no controls.
       */
      Object.size = function(obj) {
        var size = 0, key;
    	for (key in obj) {
    	  if (obj.hasOwnProperty(key)) size++;
    	}
    	return size;
	  };

      // Update a particular HTML element with a new value
      function updateHTML(elmId, value) {
        document.getElementById(elmId).innerHTML = value;
      }

      // This function is called when an error is thrown by the player
      function onPlayerError(errorCode) {
        // Various errorCodes can be found here:
        // https://developers.google.com/youtube/js_api_reference#Events
        if (errorCode == 101 || errorCode == 150 || errorCode == 2 || errorCode == 100) {
          ytplayer.nextVideo();
        } else {
          // Even if there are other error codes, just play next video for the time-being.
          ytplayer.nextVideo();
        }
      }

	  // Timer functions
	  function parseTime(timeInSeconds) {
	    var absSec = parseInt(timeInSeconds);
		var absMins = Math.floor(absSec/60);
		var secs_to_display = absSec % 60;
		var hrs = Math.floor(absMins/60);
		var mins_to_display = absMins % 60;
		if (secs_to_display<10) {
			secs_to_display = '0' + secs_to_display;
		}
		if (mins_to_display<10) {
			mins_to_display = '0' + mins_to_display;
		}
		if (hrs == 0) {
		  return mins_to_display + ':' + secs_to_display;
		}
		if (hrs<10) {
		    hrs = '0' + hrs;
		}
		return hrs + ':' + mins_to_display + ':' + secs_to_display;
	  }

      function updateVideoBarCurrTime() {
	    var videoCurrent = ytplayer.getCurrentTime();
	    var videoDuration = ytplayer.getDuration();
	    var currWidth = parseInt(videoCurrent/videoDuration * 96);
	    $("#videoBarCurrTime").css("width", currWidth+"%");

	    setTimeout("updateVideoBarCurrTime()", 500);
	  }

      // This function is called when the player changes state
      function onPlayerStateChange(newState) {
        //updateHTML("playerState", newState);
        if (newState == 1) {
          $('#videoClock').html(parseTime(ytplayer.getDuration()));
          updateVideoBarCurrTime();
        }
        if (newState == -1) {
          video_marked_as_viewed = false;
        }
		if (newState == 0 || newState == 2 || newState == 5) {
		  $('#playVideo').show();
		  $('#pauseVideo').hide();
  		  if (newState == 0) {
  		    if (Object.size(video_ids_viewed) >= video_playlist_size) {
  		      window.open(DOMAIN_HOSTNAME, "_self")
  		    }
		  }
		}
		if (newState == 1 || newState == 3) {
		  var video_url = ytplayer.getVideoUrl();
		  if (video_url.indexOf(YOUTUBE_VIDEO_URL_PREFIX) != -1) {
		    current_video_id = video_url.substr(YOUTUBE_VIDEO_URL_PREFIX.length);
		    var user_playlist_search_term = '{{ current_search_term }}'
            $("#viewedVideoUrl").attr('src', DOMAIN_HOSTNAME + "/viewedvideo?videoid=" +
            current_video_id + "&search_term=" + user_playlist_search_term);
            //current_video_id + "&search_term=" + $("#searchListItem0").attr("title"));
			video_ids_viewed[current_video_id] = 1;
		  }
		  $('#playVideo').hide();
		  $('#pauseVideo').show();
		}
		var shared_url = DOMAIN_HOSTNAME + "/joinlimitedbeta1531?sharedvideo=videoid=" + current_video_id;
		//var shared_url = DOMAIN_HOSTNAME + "/sharedvideo?videoid=" + current_video_id;
		$('.fb-share-button').attr('data-href', shared_url);
        FB.XFBML.parse(document.getElementById('.fb-share-button'));
      }

      // Display information about the current state of the player
      function updatePlayerInfo() {
        // Also check that at least one function exists since when IE unloads the
        // page, it will destroy the SWF before clearing the interval.
        if(ytplayer && ytplayer.getDuration) {
          //updateHTML("videoDuration", ytplayer.getDuration());
          //updateHTML("videoCurrentTime", ytplayer.getCurrentTime());
        }
      }

      // Allow the user to set the volume from 0-100
      function setVideoVolume() {
        var volume = parseInt(document.getElementById("volumeSetting").value);
        if(isNaN(volume) || volume < 0 || volume > 100) {
          alert("Please enter a valid volume between 0 and 100.");
        }
        else if(ytplayer){
          ytplayer.setVolume(volume);
        }
      }

      function playVideo() {
        if (ytplayer) {
          ytplayer.playVideo();
        }
      }
      function pauseVideo() {
        if (ytplayer) {
          ytplayer.pauseVideo();
        }
      }
      function muteVideo() {
        if(ytplayer) {
          ytplayer.mute();
        }
      }
      function unMuteVideo() {
        if(ytplayer) {
          ytplayer.unMute();
        }
      }
      function prevVideo() {
        if(ytplayer) {
          ytplayer.previousVideo();
        }
      }
      function nextVideo() {
  	    if (Object.size(video_ids_viewed) >= video_playlist_size || (current_video_id == last_video_id_in_playlist)) {
  		  window.open(DOMAIN_HOSTNAME, "_self");
  		} else {
          if(ytplayer) {
            ytplayer.nextVideo();
          }
        }
      }
      function seekVideo(newState) {
        pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("videoTime").offsetLeft;
        currSeekWidth = $("#videoTime .seekTo").width();
        if (isNaN(pos_x)) {
          pos_x = "1";
        }
        var vidDur0 = ytplayer.getDuration();
        var seekTime = pos_x/currSeekWidth * vidDur0;
        ytplayer.seekTo(seekTime, true);
      }

	  function resizeSwfObjectToFullScreen() {
        swfobject.createCSS("html", "height:100%;");
        swfobject.createCSS("body", "height:100%;");
        $("#ytplayer").css({"left":"0%", "width":"100%"});
        swfobject.createCSS("#ytplayer", "margin:0; width:100%; height:100%; min-width:980px; min-height:553px; left:0px; top:0px;");
	  }

      function createFullBrowserFlash() {
        $("#video-player-section").css({"left":"0%", "width":"100%"});
        $("#ytplayer").css({"left":"15%", "width":"70%"});
        //$("#videoInfo").css("visibility", hidden);
        //$("#controlBlockContainer").css("visibility", visible);
		resizeSwfObjectToFullScreen();
        window.onresize = function() {
          $("#video-player-section").removeClass("videoPlayerSection").addClass("fullScreenVideoPlayerSection");
          $("#prevNextBlock").removeClass("prevNextBlock").addClass("fullScreenPrevNextBlock");
          $("#controlBlockContainer").removeClass("controlBlockContainer").addClass("fullScreenControlBlockContainer");
          $("#prevNextBlock").css("top", ($("#ytplayer").height()/2 - $("#prevNextBlock").height()/2));
        };
        window.onresize();
        $("#fb-share-button").hide();

      }

      function expandScreenSize() {
        createFullBrowserFlash();
        var docElm = document.getElementById("video-player-section");
        if (docElm.requestFullscreen) {
          docElm.requestFullscreen();
        } else if (docElm.mozRequestFullScreen) {
          docElm.mozRequestFullScreen();
        } else if (docElm.webkitRequestFullScreen) {
          docElm.webkitRequestFullScreen();
        }
		$("#videoFullScreen").removeClass("videoFullScreen").addClass("videoMinimizeFullScreen");
      }

	  function resizeSwfObjectToRegularScreen() {
        swfobject.createCSS("#ytplayer", "margin:0; width:70%; height:504px; min-width:70%; min-height:504px; left:0px; top:0px;");
      }

      function setElementSizesForRegularSizeWindow() {
        $("#prevNextBlock").css("top", ($("#ytplayer").height()/2 - $("#prevNextBlock").height()/2));
      }

      function createMinimizedBrowserFlash() {
        resizeSwfObjectToRegularScreen();
        window.onresize = function() {
          $("#video-player-section").removeClass("fullScreenVideoPlayerSection").addClass("videoPlayerSection");
          $("#prevNextBlock").removeClass("fullScreenPrevNextBlock").addClass("prevNextBlock");
          $("#controlBlockContainer").removeClass("fullScreenControlBlockContainer").addClass("controlBlockContainer");
        };
        window.onresize();
        $("body").css({"overflow":"hidden"});
        // Re-set sizes for the video-player-section to start from 15% of the screen so the list of 'favorite searches' can be displayed on the side.
        $("#fb-share-button").show();
        $("#video-player-section").css({"left":"15%", "width":"70%"});
        $("#ytplayer").css({"left":"0%", "width":"100%"});
        setElementSizesForRegularSizeWindow();
      }

      function minimizeScreenSize() {
        if (document.cancelFullscreen) {
          document.cancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        }
        createMinimizedBrowserFlash();
        $("#videoFullScreen").removeClass("videoMinimizeFullScreen").addClass("videoFullScreen");
      }

      function toggleScreenSize() {
        var isInFullScreen = (document.fullScreenElement && document.fullScreenElement !== null) ||    // alternative standard method
            (document.mozFullScreen || document.webkitIsFullScreen);
        if (!isInFullScreen) {
          expandScreenSize();
        } else {
          minimizeScreenSize();
        }
      }

	  var timer = null;
	  var timer1 = null;
	  $(document).ready(function(){
	    $("#video-player-section").mousemove(function(){
	      if (timer) {
	        clearTimeout(timer);
	        timer = 0;
	      }
	      $("#controlBlock").fadeIn();
	      $("#prevNextBlock").fadeIn();
	      timer = setTimeout(function(){
	        $("#controlBlock").fadeOut();
	        $("#prevNextBlock").fadeOut();
	      },5000);
	    });

	    $("#searchContent").mouseover(function(){
	      if (timer1) {
	        clearTimeout(timer1);
	        timer1 = 0;
	      }
	      $("#searchListItems").fadeIn();
	      timer1 = setTimeout(function(){
	        $("#searchListItems").fadeOut();
	      },5000);
	    });
	  });

      $(document).keyup(function(e) {
        if (e.keyCode == 27) {  // esc
          minimizeScreenSize();
        }
        if (e.keyCode == 32) {  // space
            pauseVideo();
        }
      });

      function loadPreviousSearchItem(search_term) {
         window.open(DOMAIN_HOSTNAME + "/playvideo?searchterm=" + search_term, "_self");
      }

      function setUpSearchList(search_term_array) {
        for (var i = 0; i < search_term_array.length; i++) {
          var searchListItemId = "searchListItem" + i;
          var searchNameTextId = "searchNameText" + i;
          var search_term = search_term_array[i];
          var searchListItemIdElement = "#" + searchListItemId;

          var searchListItemDiv =
              $('<div id="' + searchListItemId + '" class="searchListItem" title="' + search_term_array[i] + '">' +
              '<div id="' + searchNameTextId + '" class="searchNameText" title="' + search_term_array[i] + '">' + search_term_array[i] + '</div></div>');

          $("#searchListItems").append(searchListItemDiv);
          $("#" + searchListItemId).click(function() { loadPreviousSearchItem($(this).attr("title")); });
        }
        $("#searchListItem0").css({"color": "#DDD"});
      }

      // This function is automatically called by the player once it loads
      function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById("ytplayer");
        // This causes the updatePlayerInfo function to be called every 250ms to
        // get fresh data from the player
        setInterval(updatePlayerInfo, 250);
        updatePlayerInfo();
        ytplayer.addEventListener("onStateChange", "onPlayerStateChange");
        ytplayer.addEventListener("onError", "onPlayerError");
        video_marked_as_viewed = false;
        // Load an initial video into the player
        var video_ids_array = new Array();
        var index = 0;
        {% for video_id in video_ids: %}
          video_ids_array[index]='{{ video_id }}';
          index++;
        {% endfor %}
        video_playlist_size = video_ids_array.length;
        last_video_id_in_playlist = video_ids_array[index-1];
        setElementSizesForRegularSizeWindow();
        var ctr = 0;
        {% for search_term in search_terms: %}
		  search_term_array[ctr]='{{ search_term }}';
		  ctr++;
        {% endfor %}
        setUpSearchList(search_term_array);
        ytplayer.loadPlaylist(video_ids_array, 0, 0, "large");
      }

      // The "main method" of this sample. Called when someone clicks "Run".
      function loadPlayer() {
        // Lets Flash from another domain call JavaScript
        var params = { allowScriptAccess: "always", allowFullScreen: "true" };
        // The element id of the Flash embed
        var atts = { id: "ytplayer" };
        // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
        swfobject.embedSWF("http://www.youtube.com/apiplayer?modestbranding=1&" +
                           "version=3&enablejsapi=1&playerapiid=player1&fs=1",
                           "ytplayer", "896", "504", "9", null, null, params, atts);
      }

      function _run() {
        loadPlayer();
      }
      google.setOnLoadCallback(_run());
    </script>
  </head>

  <body style="font-family: Arial;border: 0 none;">
  <!--Don't Stop! -->
    <!--Facebook share button-->
    <div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
	        FB.init({
	          appId      : 'your-app-id',
	          xfbml      : true,
	          version    : 'v2.1'
	        });
	      };

	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--Facebook share buttonEnd-->

		  <div class="search" id="search">
            <form action="/searchinput" method="post">
		      <div class="searchBoxTitle"><input type="submit" value="Search"></div>
	          <div class="searchBoxWrapper"><input type="text" id="searchInput" name="searchInput" spellcheck="false"></div>
    	    </form>
    	  </div>

		  <div id="searchContent" class="searchContent">
		    <div id="menuHead" class="menuHead">Favorites</div>
		    <div id="menuIcon" class="menuIcon"></div>
		    <div id="searchListItems" class="searchListItems">
			</div>
		  </div>

          <div id="video-player-section" class="videoPlayerSection">
            <div id="fb-share-button" class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="40"></div>

            <div id="ytplayer">
            </div>
            <div id="videoInfo">
            	<div class="itdcvis" id="itdcvis">
            	  <img id="viewedVideoUrl" src="" />
            	</div>

			    <div id="prevNextBlock" class="prevNextBlock">
			      <div class="prevVideo" id="prevVideo" title="PreviousVideo" onclick="prevVideo()"></div>
			      <div class="nextVideo" id="nextVideo" title="NextVideo" onclick="nextVideo()"></div>
				</div>
				<div class="controlBlockContainer" id="controlBlockContainer">
                  <div class="controlBlock" id="controlBlock">
                    <div class="controlBlockLeft">
                      <div class="pauseVideo" id="pauseVideo" title="PauseVideo" onclick="pauseVideo()"></div>
			          <div class="playVideo" id="playVideo" title="PlayVideo" onclick="playVideo()"></div>
			        </div>
			        <div class="controlBlockCenter">
			          <div class="videoTime" id="videoTime" onclick="seekVideo()">
			            <div class="vidTime seekTo" id="seekTo"></div>
			            <div class="vidTime videoBarFullTime" id="videoBarFullTime"></div>
			            <div class="vidTime videoBarCurrTime" id="videoBarCurrTime"></div>
			          </div>
			        </div>
			        <div class="controlBlockRight">
			      	  <div class="videoClock" id="videoClock" title="VideoClock"></div>
			          <div class="videoFullScreen" id="videoFullScreen" title="ToggleScreenSize" onclick="toggleScreenSize()"></div>
			        </div>
			      </div>
			    </div>
			</div>
          </div>

  </body>
</html>
